$poppins-font : 'Poppins', sans-serif;
$roboto-font : 'Roboto', sans-serif;
$white-color : #f7f9fb;
$header-font-size : 0.9rem;
$header-background : #7799bc;
$orange-color : #f26523;
$margin : 15.5%;

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: $roboto-font;
}

html{
    height : 100%;
}





